<?xml version='1.0' encoding='utf-8'?>
<widget id="de.farbtrommel.zwitscherwecker" version="0.0.25" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>zzZwitscherwecker</name>
    <description>
        Der zzZwitscherwecker singt dir jeden Morgen ein anderes Lied vor. Um ihn auszuschalten, kannst du aus vier Vorschlägen den Vogel erraten, der dich geweckt hat. Liegst du richtig, bekommst du weitere Infos, liegst du falsch darfst du noch einmal raten. 
Du wirst also sanft geweckt und kannst gleichzeitig mehr über die Vögel lernen, die bei uns unterwegs sind. 
Specht und Uhu sind auch von Hobby-Ornithologen schnell erraten, aber kannst du auch eine Nachtigall von von einem Sperling unterscheiden? Probiere es aus!
    </description>
    <author email="laut@farbtrommel.de" href="http://www.farbtrommel.de/zwitscherwecker">
        Simon Koennecke		
    </author>
    <content src="index.html" />	
    <access origin="*" />
	<preference name="AndroidLaunchMode" value="singleTop" />
</widget>
