
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/RobotoCondensed-Regular.woff) format('woff');
}

body, input, select, textarea, button, .ui-btn{
	font-family: 'Roboto';
}
/* Button */
#settings .ui-checkbox label:after, .ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited,
.ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover{
	background-color: rgba(20,20,20, .4);
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-aar-a .ui-atn:visited, html .ui-aody-a .ui-atn:visited, html body .ui-group-theme-a .ui-atn:visited, html head+body .ui-atn.ui-atn-a:visited,
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover,
div.ui-flipswitch-active a.ui-flipswitch-on.ui-btn.ui-shadow.ui-btn-inherit{
	background-color: #6CBD98;
}
.ui-page-theme-a .ui-btn:focus,html .ui-bar-a .ui-btn:focus,html .ui-body-a .ui-btn:focus,html body .ui-group-theme-a .ui-btn:focus,html head+body .ui-btn.ui-btn-a:focus,.ui-page-theme-a .ui-focus,html .ui-bar-a .ui-focus,html .ui-body-a .ui-focus,html body .ui-group-theme-a .ui-focus,html head+body .ui-btn-a.ui-focus,html head+body .ui-body-a.ui-focus,
.ui-page-theme-b .ui-btn:focus,html .ui-bar-b .ui-btn:focus,html .ui-body-b .ui-btn:focus,html body .ui-group-theme-b .ui-btn:focus,html head+body .ui-btn.ui-btn-b:focus,.ui-page-theme-b .ui-focus,html .ui-bar-b .ui-focus,html .ui-body-b .ui-focus,html body .ui-group-theme-b .ui-focus,html head+body .ui-btn-b.ui-focus,html head+body .ui-body-b.ui-focus,
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-aar-a .ui-atn:visited, html .ui-aody-a .ui-atn:visited, html body .ui-group-theme-a .ui-atn:visited, html head+body .ui-atn.ui-atn-a:visited,
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover,
.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited,
.ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover{
	border:0;
	-webkit-box-shadow:0 0 0 #2ad;
	-moz-box-shadow:0 0 0 #2ad;
	box-shadow:0 0 0 #2ad;
	color: #fff;
	text-shadow: 0 1px 0 #111;
}

/* Slider */
.ui-bar-b, .ui-page-theme-b .ui-bar-inherit, html .ui-bar-b .ui-bar-inherit, html .ui-body-b .ui-bar-inherit, html body .ui-group-theme-b .ui-bar-inherit,
.ui-page-theme-b .ui-btn.ui-btn-active, html .ui-bar-b .ui-btn.ui-btn-active, html .ui-body-b .ui-btn.ui-btn-active, html body .ui-group-theme-b .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-b.ui-btn-active, .ui-page-theme-b .ui-checkbox-on:after, html .ui-bar-b .ui-checkbox-on:after, html .ui-body-b .ui-checkbox-on:after, html body .ui-group-theme-b .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-b:after, .ui-page-theme-b .ui-flipswitch-active, html .ui-bar-b .ui-flipswitch-active, html .ui-body-b .ui-flipswitch-active, html body .ui-group-theme-b .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active, .ui-page-theme-b .ui-slider-track .ui-btn-active, html .ui-bar-b .ui-slider-track .ui-btn-active, html .ui-body-b .ui-slider-track .ui-btn-active, html body .ui-group-theme-b .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-b .ui-btn-active{
	background-color: rgba(20,20,20, .4);
	border: 0px;
	-webkit-box-shadow: 0 0 0 #000;
	-moz-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
	color: #fff;
	text-shadow: 0 0px 0 #111;
}
div.ui-flipswitch a.ui-flipswitch-on.ui-btn.ui-shadow.ui-btn-inherit, 
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus, .ui-page-theme-b .ui-btn:focus, html .ui-bar-b .ui-btn:focus, html .ui-body-b .ui-btn:focus, html body .ui-group-theme-b .ui-btn:focus, html head+body .ui-btn.ui-btn-b:focus, .ui-page-theme-b .ui-focus, html .ui-bar-b .ui-focus, html .ui-body-b .ui-focus, html body .ui-group-theme-b .ui-focus, html head+body .ui-btn-b.ui-focus, html head+body .ui-body-b.ui-focus, .ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-aar-a .ui-atn:visited, html .ui-aody-a .ui-atn:visited, html body .ui-group-theme-a .ui-atn:visited, html head+body .ui-atn.ui-atn-a:visited, .ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover, .ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited, .ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover{
	border: 0px;
	-webkit-box-shadow: 0 0 0 #000;
	-moz-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
	color: #fff;
	text-shadow: 0 0px 0 #111;	
}
#settings .switchonoff{
	clear:both;
	margin-right: 5px;
}
#settings .switchonoff > fieldset{
	float:right;
}
.ui-flipswitch .ui-btn.ui-flipswitch-on {
    width: 1.75em;
    padding: 0px;
    text-indent: -2.6em;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: inherit;
    overflow: visible;
    color: inherit;
    text-shadow: inherit;
}
/* Textbox */
.colorframe, .ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b{
	background-color: rgba(22,22,22,0.4);
	border: 0;
	color: #fff;
	text-shadow: 0 1px 0 #111;
	-webkit-border-radius: .125em;
	border-radius: .125em;
	margin-right: 0;
}
body, .ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper{	
	background: url('../img/bg.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Low density (120), mdpi */
@media screen and (-webkit-device-pixel-ratio: 0.75) {
   body, .ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
        background: url("../img/HG_962x720.png")  no-repeat fixed center center;
    }
}

/* Medium density (160), mdpi */
@media screen and (-webkit-device-pixel-ratio: 1) {
	body, .ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
        background: url("../img/HG_962x720.png")  no-repeat fixed center center;
    }
}

/* High density (240), hdpi */
@media screen and (-webkit-device-pixel-ratio: 1.5) {
   body, .ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
        background: url("../img/HG_1400x1040.png")  no-repeat fixed center center;
    }
}

/* Extra high density (320), xhdpi */
@media screen and (-webkit-device-pixel-ratio: 2) {
   body, .ui-overlay-b, .ui-page-theme-b, .ui-page-theme-b .ui-panel-wrapper {
        background: url("../img/HG_1400x1040.png")  no-repeat fixed center center;
    }
}


#settings div.ui-controlgroup-controls {
	margin-top: 10px;
	width: 100%;
}
#settings div.ui-controlgroup .ui-btn{
	padding: 7px 3px;
	margin-right: 2%;
	width: 10.5%;
	min-width: 10.4%;
	
	-webkit-border-radius: .125em;
	border-radius: .125em;

	text-transform: uppercase;
	font-size: 100%;
	overflow: visible;
}
#settings .ui-first-child{
	margin-left: 0px !important;
}
#settings div.ui-controlgroup .ui-btn:last-child{
	margin-right: 0px !important;
}
#settings div.ui-controlgroup .ui-btn input {
	background-color: transparent;
	width: 100%;
}
#lblTime{
	font-size: 6.8em;
	letter-spacing: 10px;
	min-width: 100%;
	text-align: center;
	margin: 15px 0;
}
#settings, .frameborder{
	max-width: 600px;
	margin: auto auto;
}
.frame{
	margin-top: 0px;
	padding: 20px;
	margin-right: 0;
}

#settings .hideTimeBox{
	height: 0px;
	position: absolute;
	top: -100px;
} 

/*
 Header Menu Button
 */
.btnmenu {
	width: 15px;
	height: 15px;
	background-color: rgba(20,20,20, .4);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.btnmenu:after{
	left:29% !important;
	background-color: transparent;
}
/* Parallax effect */
.page .content{

}

/* Collaps */
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content{
	border:0;
}


/* Quiz */
#quiz_output, #soundplayer{
	margin-left: auto;
    margin-right: auto;
    width: 315px;
}
#quizlabel{
	font-size: 1.3em;
	margin:0px;
}
#quizlogo {
	float:left;
	margin: 21px 0px 0px 14px;
}
#quizlogo img{
	max-width: 65px;
}
#quizdetails{
	float:right;
	margin-right: 10px;
}
#quizdetails .time{
	font-size:4.25em;
}
#quizdetails .date{
	font-size: 1.15em;
}
#quiz h2{
	font-size: 1.3em;
	text-align: center;
}
.quizanswerwrapper{
	margin-right: 6px;
	margin-bottom: 6px;
	
	
	position: relative;
	float: left;
	width:48%;
	max-height: 150px;
	min-height: 150px;

	max-width: 150px;
	min-width: 150px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-size: 100% 100%;
	
}
.quizanswer{
	background-image: -moz-linear-gradient(top, transparent 65%, #000 95%);
	background-image: -webkit-linear-gradient(top, transparent 65%, #000 95%);
	background-image: -ms-linear-gradient(top, transparent 65%, #000 95%);
	background-image: -o-linear-gradient(top, transparent 65%, #000 95%);
	
	width:100%;
	max-height: 150px;
	min-height: 150px;
	
	max-width: 150px;
	min-width: 150px;
}
.sciname{
	display:none;
}
.birdname{
	position: absolute;
	margin: 0px;
	bottom: 3px;
	left: 6px;
	font-size: 1em;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.abs{
	display:none;
}
p.resAbs{
	margin-top: 0;
}
div.answer-wrong, div.answer-right{
	/*  opacity: 0.6; */
}
div.answer-wrong {
	background-image: url('../img/answer-wrong.png');
	/*
	background-image: -moz-linear-gradient(top, red 65%, #000 95%);
	background-image: -webkit-linear-gradient(top, red 65%, #000 95%);
	background-image: -ms-linear-gradient(top, red 65%, #000 95%);
	background-image: -o-linear-gradient(top, red 65%, #000 95%);
	*/	
}
div.answer-right {
	background-image: url('../img/answer-right.png');
	/*
	background-image: -moz-linear-gradient(top, green 65%, #000 95%);
	background-image: -webkit-linear-gradient(top, green 65%, #000 95%);
	background-image: -ms-linear-gradient(top, green 65%, #000 95%);
	background-image: -o-linear-gradient(top, green 65%, #000 95%);
	*/
}

/* Result */
.result h2{
	margin:0px;
}
.result img{
	margin: 10px auto;
	display: block;
	
}
.result audio{
	width: 100%;
}
.moreinformation{
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.4);
	margin-top: 1em;
	font-size: 0.85em;
	text-align: center;
	margin-bottom: 0;
}
.moreinformation a, .moreinformation a:active, .moreinformation a:hover, .moreinformation a:visited{
	color: #353d3f;
	font-weight: normal;
	text-decoration: none;
	text-shadow: 0px 0px 0px #111;
}
/* result play and stop audio buttons */
.audiocontrol{
	padding: 7px 3px;
	margin: 4px;
	border-radius: 0.125em;
	width: 2em;
	min-height: 1.5em;
	color: white;
	line-height: 1.5em !important;
}
/* checkboxen */
#settings .ui-checkbox input{
	display: none;
	background-color: transparent;
	border: 1px solid black;
}
#settings .ui-checkbox label{
	background-color: transparent;
	color: #353d3f;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-top: 16px;
	padding-right: 0px;
}
#settings .ui-checkbox label:after{
	opacity: 1;
	padding: 3px;
	margin-left: -9px
}
html body .ui-btn.ui-checkbox-on.ui-btn-b:after,
html body .ui-btn.ui-checkbox-off.ui-btn-b:after{
	background-color:transparent !important;
}
/* Header */
h1.ui-title{
	overflow: visible !important;
}
div.ui-header.ui-bar-inherit{
	background-color: rgba(20,20,20, .7);
	text-transform: uppercase;	
}
.hlogo{
	color: #6CBD98;
}
.hlg1, .hlg2{
	text-transform: lowercase;
}
.hlg1{
	font-size: 0.9em;
}
.hlg2{
	font-size: 1.1em;
}
/* Link */
#info div.frameborder a, #information div.frameborder a:active, #information div.frameborder a:hover, #information div.frameborder a:visited{
	color: white;
	font-weight: normal;
}
/* Informationen */
#info div.frameborder li{
	margin-bottom: 15px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}